.player-stats-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.player-table {
  width: 80%;
}

@media only screen and (max-width: 800px) {
  .player-stats-container {
    width: 100%;
  }
}
