.scoresitem {
  width: 142px;
  padding: 20px;
  border-right: solid 1px;
  flex: 0 0 auto;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winner {
  font-weight: 600;
}

.team {
  display: flex;
  align-items: center;
}

.logo {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
}
