.clips-container {

  .highlights {
    justify-content: flex-start;
  }

}

.title {
    margin-left: 5%;
}

.clip-title {
  margin-bottom: 25px;
}

.clips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}