.game-scores {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 850px;
    margin: 20px;
    margin-bottom: 50px;
}

.conference-bar {
    display: flex;
    justify-content: center;
    background: #17408B;
    color: white;
    opacity: 90%;
}