.conference {

    .standings-bar {
        position: sticky;
        top: 0px;
        background: #17408B;
        color: white;
        opacity: 90%;
        display: flex;

        .title {
          width: 50%;
          margin-left: 5%;

          @media only screen and (max-width: 550px) {
            width: 25%;
            margin-left: 2.5%;
          } 
        }

        .bar-details {
          display: flex;
          justify-content: space-between;
          width: 50%;
          margin-right: 5%;

          @media only screen and (max-width: 550px) {
            width: 70%;
            margin-right: 2.5%;
          } 

          .games-behind {
              flex-basis: 7%;      
          }
        }

        @media only screen and (max-width: 600px) {
          font-size: 10px;
        } 

        @media only screen and (max-width: 550px) {
          justify-content: space-between;
          align-items: flex-end;
        } 
    }

  @media only screen and (max-width: 600px) { 
    margin: 0;
  }  
}